@charset "UTF-8";

*{
  margin:0;
  padding:0;
  vertical-align:bottom;
  font-family:'メイリオ', 'Meiryo', sans-serif;
  float: none;   /* add   */
  position: static; /* add   */
}


/*
#wrap{
  margin:10px auto;
  margin-bottom:80px;
}
*/

/*     header       */
header {
  width:960px;
  margin:30px auto;
  color: black;
  top: 0;
  display: flex;
  align-items: center;
}
header a {	
   text-decoration: none;
   color: black;
   font-size: 12px;
}
header ul {
   list-style: none;
   margin: 0;
   display: flex;
   list-style-type:none;
   margin-block-start: 0em;
   margin-block-end: 0em;
   padding-inline-start: 0px;
}
header li {
   margin: 0 0 0 15px;
   padding: 0 0 0 10px;
   font-size: 14px;
   border-left: 1px solid #333;
   max-width:10em;
   text-align:center;
}h1 {
   /*margin: 0; padding: 0;*/
   /*font-size: 20px;*/
}
header nav {
   margin: 0 3% 0 auto; 
   float: right; 
}

div.first{
  padding-top: 80px; 
  background-image:url(../img/top.jpg);
  height: 300px;

}
div.first img{
  width:100%;
  height:auto;
}

div.first h2{
  text-align:center;
  color:white;
  /*color:#e2d06e; yellow gold */
  margin:1em;
}

div.first p{
  text-align:center;
  color:white;
}

#main_wrap{
  background-color:#f2f2f2;
}
#main{
  width:960px;
  margin:0px auto 20px auto;
}

/*     brewery       */
div.sec1{
  overflow:hidden;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-top:40px;
  padding-bottom:20px;
}


h2.Brewery {
  /*border-bottom: solid 1px black;*/
  /*margin-top: 80px;*/
  margin-top: 1em;
  margin-bottom: 1em;
 }

ul.image_list  {
  /*width:1200px;*/
  /*padding-inline-start: 0px;*/
}  

ul.image_list li {
  display: inline-block; 
  margin-right: 30px;
  margin-bottom:20px;
  height: 300px;  
  float: left;
  width: 300px;
  text-align:center;
  background:white;
  overflow:hidden;
}  
ul.image_list li:nth-child(3n) {
  margin-right: 0;
  float:right;
}  
ul.image_list li .image_box { 
  width: 250px;
  height: 150px;  
 /* position: relative;*/
  margin: 5px;
  background-color: black;
  display: inline-block;

}
.image_box img.thumbnail {           
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
  display: block;
  border: none;
  /*opacity: 0.7;*/
}

.image_list a {                                                
  text-decoration: none;
  color:#006dac;
}

.image_list h3.MakerName{ 
  margin:5px 0px;
  text-align:center;
  color:#006dac;
  /*position: absolute;
  bottom: 30px;
  left: 10px;
  color:white;
  font-size:30px;
  -webkit-text-stroke: 0.3px black; 
  */
}
.image_list p.MakerExplain{ 
  color:black;
  text-align:left;
}                                                           

div.sec1 p.seemore{
  text-align:center;
  clear:both;
}
div.sec1 button{
  background : #0196EC;
  padding:20px 60px;
  cursor:pointer;
  border:none;  
  color:white;
}


div.chart{                                                                                        
  margin-top: 60px; 
}


p.Type {
  border-bottom: solid 1px black;
  margin-top: 80px;
 }
span.Type {
  color: black;
 }

.sp-nav {
   display: none;
}

@media screen and (max-width:480px) { /* add*/
	#main{
 	  width:100%;
  	  margin:0px auto 20px 0px;
		}
	header {
	  width:100%;
	  margin:30px auto;
	  color: black;
	  top: 0;
	  display: flex;
	  align-items: center;
	}

	.pc-nav {
	     display: none;
	  }
	  .sp-nav {
	     z-index: 1;
	     position: fixed;
	     top: 0;
	     left: 0;
	     width: 100%;
	     height: 100vh;
	     display: block;
	     width: 100%;
	     background: rgba(0, 0, 0, .8);
	     opacity: 0;
	     transform: translateY(-100%);
	     transition: all .2s ease-in-out;
	  }
	  #hamburger {
	     position: relative;
	     display: block;
	     width: 30px;
	     height: 25px;
	     margin: 0 0 0 auto;
	  }
	  #hamburger span {
	     position: absolute;
	     top: 50%;
	     left: 0;
	     display: block;
	     width: 100%;
	     height: 2px;
	     background-color: black;
	     transform: translateY(-50%);
	  }
	  #hamburger::before {
	     content: '';
	     display: block;
	     position: absolute;
	     top: 0;
	     left: 0;
	     width: 100%;
	     height: 2px;
	     background-color: black;
	  }
	  #hamburger::after {
	     content: '';
	     display: block;
	     position: absolute;
	     bottom: 0;
	     left: 0;
	     width: 70%;
	     height: 2px;
	     background-color: black;
	  }
	  /*スマホメニュー*/
	  .sp-nav ul {
	     padding: 0;
	     display: flex;
	     flex-direction: column;
	     justify-content: center;
	     align-items: center;
	     height: 100%;
	  }
	  .sp-nav li {
	     margin: 0;
	     padding: 0;
	  }
	  .sp-nav li span {
	     color: #fff;
	  }
	  .sp-nav li a, .sp-nav li span {
	     display: block;
	     padding: 20px 0;
	     color:white;
	     font-size: 16px;
	  }
	  /*-閉じるアイコンー*/
	  .sp-nav .close {
	     position: relative;
	     padding-left: 20px;
	  }
	  .sp-nav .close::before {
	     content: '';
	     position: absolute;
	     top: 50%;
	     left: 0;
	     display: block;
	     width: 16px;
	     height: 1px;
	     background: #fff;
	     transform: rotate( 45deg );
	  }
	  .sp-nav .close::after {
	     content: '';
	     position: absolute;
	     top: 50%;
	     left: 0;
	     display: block;
	     width: 16px;
	     height: 1px;
	     background: #fff;
	     transform: rotate( -45deg );
	  }
	  .toggle {
	     transform: translateY( 0 );
	     opacity: 1;
	  }

	ul.image_list li {
	  margin-right: 0;
	  width:100%;
  	  float:none;
	  overflow:hidden;
	}  
	ul.image_list li:nth-child(3n) {
  	  float:none;
	}  
	ul.image_list li .image_box { 
	  width: 100%;
	  height: 200px;  
	  margin: 0px;

	}

}

