@charset "UTF-8";

#main_wrap_addpro{
  background-color:black;
  color: #FFF;
}

div.sec1 p.sup{
  color:#0196EC;
  margin-top:1em;
  /*margin-bottom:1em;*/
}

ul.image_list_addpro {
  padding:10px 0px 30px 0px;
  border-top: solid 5px rgba(255, 255, 255, 0.1);
}

ul.image_list_addpro p{
  font-size:20px;
  margin:0px 0px 10px 0px;
}

ul.image_list_addpro sup{
  /*font-size:10px;*/
  color:#0196EC;
  vertical-align:text-top;
}

ul.image_list_addpro li {
  display: inline-block;
}

ul.image_list_addpro select ,ul.image_list_addpro textarea{
  width: 350px;
  border-bottom:1px solid #cccccc;
  border-right:none;
  border-left:none;
  border-top:none;
}
select.hidden{
  color: #cccccc;
}

ul.image_list_addpro input[name^="chk_"] {
  width: 120px;
  border-bottom:1px solid #cccccc;
  border-right:none;
  border-left:none;
  border-top:none;
}

div.img_box{
	margin:auto;
	padding:auto;
}

ul.image_list_addpro li  {
  width: 120px;
  height: 120px;
  margin:4px;
}
.image_box img.thumbnail {
  width: 40px;
  height:40px;
  margin:auto;
}

.image_box [class^="disabled_checkbox_"] {
  display    : none; 
}

label[for^="chk_"]{
  display    : inline-block;
  border : 1px solid gray;
  padding:40px ;
  position:relative;
}
input[class^="disabled_checkbox_"]:checked ~ label[for^="chk_"] {
  border : 1px solid #0196EC;
}

label[for^="chk_"] p{
  position:absolute;
  width: 80px;
  top:70%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size:14px;
  text-align:center;
}


label.upimg_label {
  padding: 10px 40px;
  color: black;
  background-color:#D5ECED;
  cursor: pointer;
  display: inline-block;
  font-family: "Meiryo" ;
  margin:5px;
}

input[type="file"] {
  display:none;
}

p.msgimg {
  font-size:5px;
}

div.submit {
  text-align    : center;     

}

div.submit input[type="submit"] {
  display       : inline-block;
  font-size     : 16pt;       
  font-weight:bold;
  text-align    : center;     
  cursor        : pointer;    
  width: 200px;
  height:50px;
  padding       : 8px 0px;  
  background    : #0196EC;  
  color         : black;    
  line-height   : 1em;        
  transition    : .3s;        
  border        : none;
}

